{% extends "base.html.twig" %}
{% block pagecontent %}
<div class="container">
    <div class="row">
        <div class="well">
            <h3>{{ topic.title }} <small>by {{ topic.host.username }}</small></h3>
            <span>{{ topic.description }}</span>
        </div><hr>
        <div class="col-sm-9">
        <ol class="breadcrumb pull-left">
            <li><a href="{{ path('forum_index') }}">Forum</a></li>
            <li class="active">{{ topic.title }}</li>
            {% if is_granted('edit',topic) %}
                <a class="btn btn-xs btn-warning" href="{{ path('forum_edit_topic',{'id': topic.id}) }}">Edit topic</a>
                <a class="btn btn-xs btn-danger" href="{{ path('forum_delete_topic',{'id': topic.id}) }}">Delete topic</a>
            {% endif %}
        </ol>

        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ limit }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="dropdown-header">entries/page</li>
                <li role="separator" class="divider"></li>
                <li{% if limit==5 %} class="active"{% endif %}><a href="{{ path('forum_show_topic',{'slug': topic.slug, 'page': 1, 'limit':5 }) }}">5</a></li>
                <li{% if limit==10 %} class="active"{% endif %}><a href="{{ path('forum_show_topic',{'slug': topic.slug, 'page':1 , 'limit':10 }) }}">10</a></li>
                <li{% if limit==50 %} class="active"{% endif %}><a href="{{ path('forum_show_topic',{'slug': topic.slug, 'page':1 , 'limit':50 }) }}">50</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <ul class="list-group">
                {% if entries|length>0 %}
                {% for entry in entries %}
                <li class="list-group-item">
                    <div>
                        <p class="text-right small">
                            <span class="pull-left">#{{ entry.number }}</span>
                            {% if is_granted('edit', entry) %}
                                <a class="btn btn-xs btn-warning" href="{{ path('forum_edit_reply',{'id': entry.id}) }}">Edit</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-xs btn-danger" href="{{ path('forum_delete_reply', {'id': entry.id}) }}">Delete</a>
                            {% endif %}
                            <span class="glyphicon glyphicon-time"></span> {{ entry.createdAt|date('H:i Y/m/d ') }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-2 pull-left text-center">
                            <span class="glyphicon glyphicon-user"></span>
                            {#<img class="forum" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png">#}
                            <p class="username">{{ entry.user }}</p>
                        </div>
                        <div class="col-md-10">
                            {{ entry.content|raw }}
                            {% if entry.isModified %}
                                <i class="pull-right"> Modified at {{ entry.lastModifiedAt|date('Y-m-d H:i') }} </i>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
                {% else %}
                    <div class="jumbotron">
                        <h2 class="warning"><span class="glyphicon glyphicon-warning-sign"></span> There are no entries yet.</h2>
                        <p>Be the first to leave a reply!</p>
                    </div>
                {% endif %}
            </ul>
            <div class="text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li{% if page==1 %} class="disabled"{% endif %}>
                        <a href="{{ path('forum_show_topic',{'slug': topic.slug, 'page':page-1, 'limit':limit }) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for i in 1..pages %}
                            <li{% if page == i %} class="active"{% endif %}><a href="{{ path('forum_show_topic',{'slug': topic.slug, 'page':loop.index, 'limit':limit}) }}">{{ i }}</a></li>
                    {% endfor %}
                    <li{% if page==pages %} class="disabled"{% endif %}>
                        <a href="{{ path('forum_show_topic',{'slug': topic.slug, 'page':page+1, 'limit':limit }) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p class="text-center"><a class="btn btn-primary btn-sm" href="{{ path('forum_leave_reply',{'slug': topic.slug}) }}"><span class="glyphicon glyphicon-book"></span> Reply to this topic</a></p>
            {% else %}
                <div class="alert alert-warning" style="display:inline-block;">You must be <a href="{{ path('fos_user_security_login') }}">logged in</a> to reply to this topic!</div>
            {% endif %}


        </div>
        <div class="col-sm-3">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <img class="profile" src="{{ asset('bundles/app/files/user_icon.png') }}">
                            <h4>{{ app.user.username }}</h4>

                            <table>
                                <tr><td><a href="{{ path('fos_user_profile_show') }}"> <span class="glyphicon glyphicon-user"></span> Account settings</a></td></tr>
                                <tr><td><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></td></tr>
                            </table>
                        {% else %}
                            <h4><strong><a href="{{ path('fos_user_security_login') }}">Log in</a></strong> to leave a reply</h4>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

