<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HomeProject{% endblock %}</title>
        {% block stylesheets %}

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/main.css') }}">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block nav %}
                <div class="container">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{{ path('homepage') }}">
                                    <span class="glyphicon glyphicon-home"></span>
                                </a>
                            </div><!-- /.navbar-header pull-left -->
                            <div class="navbar-header pull-right">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <span class="navbar-text">Signed in as <a class="" href="{{ path('fos_user_profile_show') }}" data-toggle="tooltip" title="Edit profile">{{ app.user.username }}</a></span>
                                {% endif %}

                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div><!-- /.navbar-header pull-right -->
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li class="{% if app.request.attributes.get('_route') starts with 'homepage' or  app.request.attributes.get('_route') ends with 'Post'  %}active{% endif %}" ><a href="{{ path('homepage') }}">Blog</a></li>
                                    <li class="{% if app.request.attributes.get('_route') starts with 'downloads' %}active{% endif %}"><a href="{{ path('downloads_index') }}">Downloads</a></li>
                                    <li class="{% if app.request.attributes.get('_route') starts with 'forum' %}active" {% endif %}><a href="{{ path("forum_index") }}">Forum</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                                {% endif %}
                                </ul>
                            </div> <!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                    <hr class="dl-horizontal">
                </div>
            {% endblock %}
    {% block pagecontent %}
    {% endblock %}

            {% block footer %}
                <div class="footer">
                    <div class="container">
                        <hr>
                        <div class="row">
                            <p class="text-muted">© 2013 Company Name. All rights reserved</p>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src=" https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
