{% extends "base.html.twig" %}
{% block pagecontent %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-sm-8">
            <h1>Blogposts</h1><hr>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }} Click <a href="{{ path('homepage') }}">here</a> to go back.
                </div>
            {% endif %}


            {% for post in posts %}
                <h2>
                    <a href="{{ path('readPost',{'slug': post.id}) }}">{{ post.title }}</a>
                    <small>by {{ post.author }}</small>
                </h2>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.postedAt.format('Y-m-d') }}</p>
                <hr>
                {% if post.imgURI is not null %}
                    <a href="{{ path('readPost',{'slug': post.id}) }}"><img class="img-post img-responsive" src="{{ post.imgURI }}" alt="{{ post.title }}"></a> <hr>
                {% endif %}

                <p>{{ post.content|slice(0,300) }}...</p>
                <a class="btn btn-primary" href="{{ path('readPost',{'slug': post.id}) }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <p class="tags">Tags:
                    {% for tag in post.tags %}
                        <a href="{{ path('homepage') }}?q={{ tag }}"><span class="label label-default">{{ tag }}</span></a>
                    {% endfor %}
                    | <i class="icon-comment"></i> <a href="{{ path('readPost',{'slug': post.id}) }}#comments">{{ post.comments|length }} Comments</a>
                </p>
                <hr>
            {% endfor %}

            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-sm-4" id="sidebar">
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <form method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                </form>
                <!-- /.input-group -->
            </div>
            <!-- Blog Categories Well -->
            <div class="well">

                <div class="row">
                    <div class="col-md-6">
                        <h4>Blog Categories</h4>
                        <ul class="list-unstyled">
                            {#{% for category in categories %}#}
                                {#<li><a href="#">{{ category.name }}</a></li>#}
                            {#{% endfor %}#}

                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-md-6">
                        <h4>Tags</h4>
                        <ul class="list-unstyled">
                            {% for tag in randomtags %}
                            <li><a href="{{ path('homepage') }}?q={{ tag }}"><span class="label label-default">{{ tag }}</span></a>
                            {% endfor %}
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
{% endblock %}


