{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-success" />
        <a href="{{ path('fos_user_profile_show') }}"><button type="button" class="btn btn-default">Mégsem</button></a>
    </div>
{{ form_end(form) }}
