{% extends 'base.html.twig' %}

{% block pagecontent %}
 <div class="container">
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="row">
            <div class="jumbotron">
                <h2 class="warning"><span class="glyphicon glyphicon-warning-sign"></span> Error</h2>
                <p>Downloads are for registered users only!</p>
            </div>
        </div>
        {% elseif uploadedFiles|length > 0 %}
     {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-sm-1"><a class="btn btn-primary btn-sm" href="{{ path('downloads_new') }}"><span class="glyphicon glyphicon-upload"></span> Add new</a>
            </div>
        </div><hr>
     {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <th>#</th>
                        <th>Filename</th>
                        <th>Size</th>
                        <th>Views</th>
                        <th>Comment</th>
                        {% if is_granted('ROLE_ADMIN') %}
                        <th>Show</th>
                        {% endif %}
                        </thead>
                        <tbody>
                        {% for uploadedFile in uploadedFiles %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ path('downloads_get', {'uri': uploadedFile.uri}) }}">{{ uploadedFile.fileName }}</a></td>
                            <td>{{ uploadedFile.size }}</td>
                            <td><span class="badge">{{ uploadedFile.views }}</span></td>
                            <td>{{ uploadedFile.comment }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                            <td class="col-sm-1"><a class="btn btn-xs btn-default"  href="{{ path('downloads_show', {'id': uploadedFile.id}) }}">Show</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    {% else %}
        {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-sm-1"><a class="btn btn-primary btn-sm" href="{{ path('downloads_new') }}"><span class="glyphicon glyphicon-upload"></span> Add new</a>
            </div>
        </div><hr>
            {% endif %}
        <div class="row">
            <div class="jumbotron">
                <h2 class="warning"><span class="glyphicon glyphicon-warning-sign"></span> Error</h2>
                <p>There are no downloads available at the moment. :(</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
